.question-title {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.questions-answers {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.answer {
  background-color: rgb(221, 219, 219);
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  width: 95%;
  height: 6rem;
  box-shadow: rgb(0, 0, 0, 0.15) 0px, 0px, 14px;
}

.answer:hover {
  filter: brightness(90%);
}

.answer.correct {
  background-color: rgb(47, 255, 116);
}

.answer.incorrect {
  background-color: red;
}

.footer button {
  background-color: rgb(221, 219, 219);
  font-size: 1rem;
  border: none;
  padding: 1rem;
  margin-top: 2.5rem;
  border-radius: 10px;
  width: 20%;
  height: 3rem;
}

.footer button:hover {
  filter: brightness(90%);
}
